input::placeholder {
    color: white  !important;
}




body{

    background-color: #1e202b;
}


.card-dad{






}
#card-1{
    
    background: #323544;


}
#card-2{
    
    background: #262936;


}
#card-3{
    
    background: #323544;


}

.bg-card-1{
    background-color: #2d303d;


}

.bg-card-2{
    background-color:  #262936;


}

.bg-nav{
    background-color: #1e202b;
    color: white  !important;


}

.active {

    border: solid 2px #009ad8;
 
} 

.hover-method{

    transition: 0.1s;


}

.hover-method:hover{
    border: solid 2px #009ad8;


}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #009ad8;
    background-color: #009ad8;
    border: var(--bs-border-width) solid #009ad8 ;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.btn-control {
    top: 8%;
    right: 1%;

    color: white;
    background-color:#009ad8 ;
    border: none;
}

.social-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}

.hover-icon{


    
}
.hover-icon:hover{
    background-color:#009ad8 ;
    color: white !important;



}

footer{

    background-color: #262936;
   
}

.btn-control2 {
    right: 4%;
    top: 33%;

    color: white;
    background-color:#009ad8 ;
    border: none;
}

.fs-10{

    font-size: 10px;
}
 .z{

    height: 100vh;
 }

 section{
    background-image: url(../imgs/banner.png);
    background-repeat: no-repeat;

    background-color: #1e202b;
 }

 .breadcrumb {
    background: #262936;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 13px;
    font-size: 0.9285714286em;
}

.border-input{

    border: solid 1px white;
    opacity: 0.5;
}